#page-create-point {
  width: 90%;
  max-width: 1100px;
  /* Alinhamento de caixas (pelo lado de fora)*/
  margin: 0 auto;
}

#page-create-point header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

#page-create-point header a {
  color: var(--title-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

#page-create-point header a span {
  background-image: url("../assets/arrow-left.svg");
  width: 20px;
  height: 24px;
  display: flex;
  min-width: 20px;
  margin-right: 16px;
  /* Variavel presente no arquivo main.css */
  color: var(--primary-color);
}

#page-create-point form {
  background-color: white;
  /* Preenchimento interno da box flex */
  padding: 64px;
  border-radius: 16px;
  /* Alinhando ao centro */
  margin: 80px auto;

  max-width: 730px;
  /* Padrao é box-content, onde o padding aumenta a caixa, com borde-box 
     ele ajusta para o conteudo interno não permitindo aumentar conforme
     o parametro max-width: 

     Faz sentindo colocar o paramentro para todas as box, então esse conteudo
     deve fazer parte do main.css para refletir em todas as box

     box-sizing: border-box;
   */
}

#page-create-point form h1 {
  font-size: 36px;
}

#page-create-point form fieldset {
  margin-top: 64px;
  border: 0;
}

#page-create-point form legend {
  margin-bottom: 40px;
}

#page-create-point form legend h2 {
  font-size: 24px;
}

#page-create-point form .field {
  /* Componetes se ajustam */
  flex: 1;
  display: flex;
  /* 1 item por linha pois o flex-direction: ficou ajustado pra column; */
  flex-direction: column;
  margin-bottom: 24px;
}

#page-create-point form .field-group {
  display: flex;
}

#page-create-point form input,
form select {
  background-color: var(--form-background);
  border: 0;
  padding: 16px 24px;
  font-size: 16px;
  /* Remove a borda do campo ativo */
  outline: none;
  border-radius: 8px;
}

#page-create-point form select {
  /* Hack para resetar no chrome e no mozilla  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#page-create-point form label {
  font-size: 14px;
  margin-bottom: 8px;
  margin-left: 20px;
}

#page-create-point form .field-group .field + .field {
  margin-left: 24px;
}

#page-create-point form button {
  width: 260px;
  height: 56px;
  background-color: var(--primary-color);
  border: 0;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  transition: background-color 400ms;
  cursor: pointer;
}

#page-create-point form button:hover {
  background-color: var(--primary-color-hover);
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* GAP é usado para fazer a separação entre itens como uma margem */
  gap: 16px;
}

.items-grid li {
  background-color: #f5f5f5;
  list-style: none;

  border: 2px solid #f5f5f5;
  border-radius: 8px;

  height: 180px;

  padding: 32px 24px 16px;
  display: flex;
  /* Ao usar o flex-direction: column mudamos o fluxo de cima pra baixo */
  flex-direction: column;
  align-items: center;

  /* Ao usar o justify-content: space-between; os itens se alinha no topo
     e na base porque o fluxo é vertical */
  justify-content: space-between;
  text-align: center;

  cursor: pointer;
}

.items-grid li:hover {
  background-color: rgba(52, 203, 121, 0.4);
}

.items-grid li span {
  margin-top: 12px;
  flex: 1;

  display: flex;
  align-items: center;

  color: var(--title-color);
}

/* Quando o item .selected esta encostado ao elemento li ele vai aplicar
   ao elementeo li com a classe selected se tiver spaco entre o li e o
   .selected ele vai procurar uma classe .selected dentro de um elemento
   li */
.items-grid li.selected {
  background-color: #e1faec;
  border: 2px solid #34cb79;
}

/* Desliga os eventos de pointer no itens que estão na li para não ser
   enviado ao EventList */
.items-grid li img,
.items-grid li span {
  pointer-events: none;
}
